html,
body,
#map,
#panel,
.container-cs {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#map {
    width: 80%;
    margin-left: 20%;
}

#panel {
    width: 20%;
    position: fixed;
    background: lightgray;
}

#fullScreen {
    position: fixed;
    top: 10;
    left: 10;
    z-index: 99999;
}